# 첫번째 문제

In [ ]:
import seaborn as sns
import pandas as pd

df = sns.load_dataset('car_crashes')
print(df.head())

   total  speeding  alcohol  not_distracted  no_previous  ins_premium  \
0   18.8     7.332    5.640          18.048       15.040       784.55
1   18.1     7.421    4.525          16.290       17.014      1053.48
2   18.6     6.510    5.208          15.624       17.856       899.47
3   22.4     4.032    5.824          21.056       21.280       827.34
4   12.0     4.200    3.360          10.920       10.680       878.41

   ins_losses abbrev
0      145.08     AL
1      133.93     AK
2      110.35     AZ
3      142.39     AR
4      165.63     CA

In [ ]:
data = df.sort_values(by=df.columns[2], ascending=False)
data.head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
34,23.9,5.497,10.038,23.661,20.554,688.75,109.72,ND
40,23.9,9.082,9.799,22.944,19.359,858.97,116.29,SC
26,21.4,8.346,9.416,17.976,18.190,816.21,85.15,MT
43,19.4,7.760,7.372,17.654,16.878,1004.75,156.83,TX
11,17.5,9.450,7.175,14.350,15.225,861.18,120.92,HI

In [ ]:
data.iloc[9,2]

5.770999999999999

In [ ]:
ten = data.iloc[9,2]
data.iloc[:10,2] = ten
data.head(11)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
34,23.9,5.497,5.771,23.661,20.554,688.75,109.72,ND
40,23.9,9.082,5.771,22.944,19.359,858.97,116.29,SC
26,21.4,8.346,5.771,17.976,18.190,816.21,85.15,MT
43,19.4,7.760,5.771,17.654,16.878,1004.75,156.83,TX
11,17.5,9.450,5.771,14.350,15.225,861.18,120.92,HI
18,20.5,7.175,5.771,14.965,20.090,1281.55,194.78,LA
48,23.8,8.092,5.771,23.086,20.706,992.61,152.56,WV
41,19.4,6.014,5.771,19.012,16.684,669.31,96.87,SD
3,22.4,4.032,5.771,21.056,21.280,827.34,142.39,AR
36,19.9,6.368,5.771,18.308,18.706,881.51,178.86,OK
42,19.5,4.095,5.655,15.990,15.795,767.91,155.57,TN

In [ ]:
result = data[(data['speeding'] >= 7)]
print('최종 결과물은 ', result['alcohol'].mean())

최종 결과물은  5.600099999999999

# 두번째 문제

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np

df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
len(df)

1035

In [ ]:
len(df)*0.7

724.5

In [ ]:
int(len(df)*0.7)

724

In [ ]:
len = int(len(df)*0.7)
df = df[:len]
df2 = df.copy()
df2['distance'] = df2['distance'].fillna(df2['distance'].median())

In [ ]:
print('전처리 전: ', np.std(df['distance']))
print('전처리 후: ', np.std(df2['distance']))

전처리 전:  275.0161144074896
전처리 후:  267.0513844259766

# 세번째 문제

In [ ]:
import seaborn as sns

df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [ ]:
df['orbital_period'].quantile(0.25)

5.4425405

In [ ]:
df['orbital_period'].quantile(0.75)

526.005

In [ ]:
Q25 = df['orbital_period'].quantile(0.25)
Q75 = df['orbital_period'].quantile(0.75)
IQR = Q75-Q25
min = Q25 - IQR*1.5
max = Q75 + IQR*1.5

In [ ]:
print(IQR)
print(min)
print(max)

520.5624595
-775.4011487500002
1306.84868925

In [ ]:
df_outlier = df[(df['orbital_period'] <= min) | (df['orbital_period'] >= max)]
df_outlier

                        method  number  orbital_period  mass  distance  year
6              Radial Velocity       1          1773.4  4.64     18.15  2002
14             Radial Velocity       3          2391.0  0.54     14.08  2001
15             Radial Velocity       3         14002.0  1.64     14.08  2009
19             Radial Velocity       5          4909.0  3.53     12.53  2002
32   Eclipse Timing Variations       1         10220.0  6.05       NaN  2009
..                         ...     ...             ...   ...       ...   ...
920               Microlensing       1          3500.0   NaN       NaN  2005
921               Microlensing       2          1825.0   NaN       NaN  2008
922               Microlensing       2          5100.0   NaN       NaN  2008
937                    Imaging       1        730000.0   NaN       NaN  2006
944              Pulsar Timing       1         36525.0   NaN       NaN  2003

[126 rows x 6 columns]

In [ ]:
print(df_outlier['orbital_period'].sum())

1818772.582